* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.hover {
  color: #d3d3d3 !important;
  font-size: 1vw !important;
}

.hover:hover {
  color: #fff !important;
}

.yussa-logo {
  width: 11vw !important;
}

.main-nav:hover {
  color: #ec5242 !important;
}

.btn {
  font-size: 1.5vw !important;
}

.banner {
  background-image: url(../img/pattern.png);
  background-size: cover;
}

.heading {
  font-family: "COCOGOOSE", "Lato", sans-serif;
  font-size: 5vw;
  color: #ec5242;
}

.logo-heading::after,
.past-heading::after {
  content: "";
  border: 1px solid #ec5242;
  display: block;
  width: 3rem;
  margin: 0.5rem auto;
}

.logo img {
  width: 23rem;
}

.lagos-symposium {
  background-image:
    linear-gradient(
        rgba(236, 82, 66, 0.7) 100%,
        rgba(236, 82, 66, 1) 100%
        ),
    url(../img/2018-symposium.jpg);
  background-size: cover;
  background-position: center;
}

.new_york-symposium {
  background-image:
    linear-gradient(
        rgba(236, 82, 66, 0.7) 100%,
        rgba(236, 82, 66, 1) 100%
        ),
    url(../img/2020-symposium.jpg);
  background-size: cover;
  background-position: center;
}
