* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.hover {
  color: #d3d3d3 !important;
  font-size: 1vw !important;
}

.hover:hover {
  color: #ffffff !important;
}

.yussa-logo {
  width: 11vw !important;
}

.main-nav:hover {
  color: #ec5242 !important;
}
.btn {
  font-size: 1.5vw !important;
}

.banner {
  background-image: url(../img/pattern.png);
  background-size: cover;
}

.heading {
  font-family: "COCOGOOSE", "Lato", sans-serif;
  font-size: 5vw;
  background-image: linear-gradient(
    45deg,
    rgb(255, 0, 0) 0%,
    rgb(33, 3, 3) 33%,
    rgb(236, 82, 66) 56%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-footer {
  font-size: 0.8rem;
}

.date {
  font-family: "COCOGOOSE";
}

.programs {
  background-image: url(../img/pattern2.png);
}

.program {
  background: #9c9b9b38;
}

.program-heading::after {
  content: '';
  border: 1px solid #DC3545;
  display: block;
  width: 4rem;
  margin: 0.5rem auto;
}
